.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h1 {
  font-size: 5rem;
}
@media screen and (max-width: 576px) {
  .profile h1 {
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
  }
}
